*{
	font-family:NumSans-serif ;
	margin:0px;
	padding:0px;

}

.col-md-12.header{
    background:linear-gradient(-90deg,#d38312,#a83279);
}

.nav-link{
	font-size:17px;
	margin:3px;
	color:#fff!important;
	font-weight:500;
}

.col-md-12.navbar-toggler{
	padding-right:20px;
	outline:none!important;
	border:none!important;
}

.nav-link:hover{
	font-weight:600;
	border-bottom:1px solid #fff;
}

.image_container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size:40px;
  font-weight:500;
}

.top-right{
  position: absolute;
  top: 20px;
  right: 20px;
  font-size:15px;
  font-weight:500;
  color:black;
	
}


.col-md-12.text-center{
	background-color:rgba(255, 255, 128,.5);
}

.container-fluid.body{
	font-size:16px;
}

.card{
	background-color:#fff2e6;
}
